<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Usuario:</ion-label>
          <ion-input [(ngModel)]="usuario.name" type="text" name="user"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Password:</ion-label>
          <ion-input [(ngModel)]="usuario.pass" type="password" name="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="submitLogin()">Continuar</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
